$color0:#FF914D;
$color1 :#FF9800;
$color2:#F19817;
$color3:#EE9F22;
$color4:#FFA106;
$color5:#F8C34B;
$color6:#FFD705;
$color7:#F5C553;
$color8:#212529;
$color9:#4E5B60;
$color10:#7B5751;
$color11:#EBECF0;
$color12:#FFFFFF;
$color13:#9B9D9E;

$colorMain:#212529ba;