//Pc
$titleH1:5rem;
$titleH2:4rem;
$titleH3:2.5rem;
$titleH4:2.2rem;
$titleH5:2rem;

$HeaderText:1.5rem;

$textSectionIndex:2.4rem;
$textMain:1.3rem;
$textAboutMe:1.3rem;
$textLaboratory: 1.2rem;

//mobil

$titleH1-mobil:2rem;
$titleH2-mobil:4rem;
$titleH3-mobil:3rem;
$titleH4-mobil:2.2rem;
$titleH5-mobil:2rem;

$HeaderText-mobil:1.6rem;

$textSectionIndex:2.4rem;
$textMain-Mobil: 1.5rem;
$textAboutMe:1.3rem;
$textLaboratory: 1.2rem;